@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-inter:   'Inter', sans-serif;
}

html { scroll-behavior: smooth; }

body {
  @apply antialiased;
  background-color: #F7F9FC;
  color: #1A1A1A;
}

@layer utilities {
  .text-balance { text-wrap: balance; }
}
