@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
